<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Linear Regression Predictor</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Linear Regression Predictor</h1>

<form method="POST">

<label> Enter X Values</label>

<input
type="text"
name="x"
placeholder=""
value="{{ x_values }}"
required>

<label>Enter Y Values</label>

<input
type="text"
name="y"
placeholder=""
value="{{ y_values }}"
required>

<div class="buttons">

<button
type="submit"
name="predict">
Predict
</button>

<button
type="submit"
name="plot">
Plot Graph
</button>

<a href="{{ url_for('reset') }}">
    <button type="button">Reset</button>
</a>

</div>

</form>

{% if error %}

<div class="error">
{{ error }}
</div>

{% endif %}

{% if result %}

<div class="result">

<h2>Regression Equation</h2>

<p><b>y = {{ result.m }}x + {{ result.c }}</b></p>

<h3>Predicted Values</h3>

<p>{{ result.pred }}</p>

<h3>Error Metrics</h3>

<p>MSE : {{ result.mse }}</p>

<p>RMSE : {{ result.rmse }}</p>

<p>MAE : {{ result.mae }}</p>

</div>

{% endif %}

{% if image %}

<div class="graph">

<h2>Regression Plot</h2>

<img
src="{{ url_for('static', filename=image) }}"
alt="Regression Plot">

</div>

{% endif %}

</div>

</body>

</html>